/* CSS for Header */
* {
    margin: 0px;
}

main {
    margin-left: 8px;
    margin-right: 8px;
}

header {
    background-color: #536878;
    color: #C9C9C9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 8px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    flex-grow: 1;
}

nav ul, .ulLogin {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 1rem;
}

.login{
    list-style: none;
    text-decoration: none;
    margin-left: 1rem;
    color: #C9C9C9;
}

nav a {
    color: #C9C9C9;
    text-decoration: none;
}

/* CSS for Buttons */
.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.left {
    margin-right: auto;
}
.right {
    margin-left: auto;
}

/* CSS for Footer*/
footer {
    background-color: white;
    height: auto;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    background-color: #536878;
    color: #C9C9C9;
    margin-left: 8px;
    margin-right: 8px;
}

.footer-content p {
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    padding: 20px 0;
    text-align: center;
    background-color: #e9edf6;
    color: #1A2B3C;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 1px;
}

.footer-bottom td {
    text-align: center;
}

ul {
    list-style-type: none;
}

.second ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainlist {
    font-size: larger;
}

/* Devices */
.deviceTable th,
.deviceTable td {
    padding: 4px 6px; /* increase padding for better readability */
    text-align: left; /* align text to left for better readability */
}

.deviceTable th:not(:last-child),
.deviceTable td:not(:last-child) {
    padding-right: 8px; /* increase right padding to increase distance between columns */
}

.deviceTable {
    margin: 0 auto;
    padding: 0px;
    width: 70%;
}
#addBtn {
    display: block;
    margin: 0 auto;
    width: 10%;
}


/* CSS for Login Form */
.loginForm, .updateDevice, .insertDevice {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.loginForm h3,
.updateDevice h3,
.insertDevice h3{
    text-align: center;
    margin-bottom: 20px;
}

.loginForm label, .updateDevice label, .insertDevice label{
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 10px;
}

.loginForm input[type="text"],
.loginForm input[type="password"],
.updateDevice, input,
.insertDevice input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
}

.loginForm button[type="submit"],
.updateDevice input[type="submit"],
.insertDevice input[type="submit"]{
    background-color: #536878;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: block; /* or inline-block */
    margin: 0 auto; /* This centers the button horizontally */
    text-align: center; /* This centers the content inside the button */
}


.updateDevice input[type="button"],
.insertDevice input[type="button"]{
    background-color: #a41313; /*Possible colors: #e74c3c (a darker shade of red) #c0392b (a deep shade of red) #2c3e50 (a dark navy blue)*/
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: block; /* or inline-block */
    margin: 0 auto; /* This centers the button horizontally */
    text-align: center; /* This centers the content inside the button */
}

/* for index */
h2{
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}
