/* CSS for Header */
* {
    box-sizing: border-box;
}

header {
    background-color: #536878;
    color: #C9C9C9;
    padding: 20px;
    max-width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    flex-grow: 1;
}

nav ul, .ulLogin {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 1rem;
}

.login{
    list-style: none;
    text-decoration: none;
    margin-left: 1rem;
    color: #C9C9C9;
}

nav a {
    color: #C9C9C9;
    text-decoration: none;
}

/* CSS for Buttons */
.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    margin-right: auto;
}
.right {
    margin-left: auto;
}

/* CSS for Footer*/
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
    max-width: 100%;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    background-color: #536878;
    color:  #C9C9C9;
}
.footer-content p {
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-bottom {
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    background-color: #e9edf6;
    color: #1A2B3C;
    max-width: 100%;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 1px;
}

.footer-bottom td {
    text-align: center;
}
ul {
    list-style-type: none;
}

.second ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainlist {
    font-size: larger;
}

/* Devices */
.deviceTable th,
.deviceTable td {
    padding: 4px 6px; /* increase padding for better readability */
    text-align: left; /* align text to left for better readability */
}

.deviceTable th:not(:last-child),
.deviceTable td:not(:last-child) {
    padding-right: 8px; /* increase right padding to increase distance between columns */
}
